<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.edu.glut.component.dao.UserDao">
 
 	<resultMap type="cn.edu.glut.model.UserInfo" id="user" autoMapping="true"  >
 		<collection property="grants" autoMapping="true" ofType="cn.edu.glut.model.UserGrant" >
 		<id property="userGrantId" column="user_grant_id"/>
 		</collection>
 	</resultMap>
  
   <insert id="addUserInfo" parameterType="cn.edu.glut.model.UserInfo" keyProperty="userId" useGeneratedKeys="true">
   	insert into user_info values(#{userId},#{telephone},#{nickname},#{identityNum},#{photo},#{state},#{address},#{ip})
   </insert>


	<insert id="addUserGrant" parameterType="cn.edu.glut.model.UserGrant" keyProperty="userGrantId" useGeneratedKeys="true">
   	insert into user_grant values(#{userGrantId},#{userId},#{loginType},#{grantCode},#{identifier})
   </insert>
   
   <select id="getUserByTel" parameterType="String" resultMap="user" >
   	SELECT
	user_info.user_id,
	telephone,
	nickname,
	identity_num,
	photo,
	state,
	address,
	ip,
	user_grant_id,
	login_type,
	grant_code,
	identifier 
FROM
	user_info,
	user_grant 
WHERE
	user_info.user_id = user_grant.user_id 
	AND telephone = #{tel}
   </select>
   <!-- emm -->
   <select id="getUserGrantByTel" parameterType="String" resultMap="user" >
   	SELECT
	user_grant_id,
	user_info.user_id,
	telephone,
	nickname,
	identity_num,
	photo,
	state,
	address,
	ip,
	login_type,
	grant_code,
	identifier 
FROM
	user_info
	LEFT JOIN User_grant ON identifier = telephone 
where telephone=#{telephone}
   </select>
   
</mapper>