<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.edu.glut.component.dao.UserDao">
 
 	<resultMap type="cn.edu.glut.model.UserGrant" id="grant" autoMapping="true"  >
 		<association property="user" autoMapping="true" javaType="cn.edu.glut.model.UserInfo"></association>
 	</resultMap>
 
   <insert id="addUserInfo" parameterType="cn.edu.glut.model.UserInfo" keyProperty="userId" useGeneratedKeys="true">
   	insert into user_info values(#{userId},#{telephone},#{nickname},#{identityNum},#{photo},#{state},#{address},#{ip})
   </insert>


	<insert id="addUserGrant" parameterType="cn.edu.glut.model.UserGrant" keyProperty="userGrantId" useGeneratedKeys="true">
   	insert into user_grant values(#{userGrantId},#{user.userId},#{loginType},#{grantCode},#{identifier})
   </insert>
   
   <select id="getUserByTel" parameterType="String" resultType="cn.edu.glut.model.UserInfo" >
   	select * from user_info where telephone=#{tel}
   </select>
   
   <select id="getUserGrantByTel" parameterType="String" resultMap="grant" >
   	SELECT
	user_grant_id,
	user_info.user_id,
	telephone,
	nickname,
	identity_num,
	photo,
	state,
	address,
	ip,
	login_type,
	grant_code,
	identifier 
FROM
	user_info
	LEFT JOIN User_grant ON identifier = telephone 
where telephone=#{telephone}
   </select>
   
</mapper>